//=====grid練習
// .container{
//     display: grid;
//     grid-template-columns: repeat(3,1fr) ;
//     gap: 10px;
 
    
// }

// .item{
//     padding: 10px;
//     background-color: beige;
//     text-align: center;
// }

// @media (max-width:600px) {
//     .container{
//          grid-template-columns:1fr;
//     }
   
// }

//顏色變數
$darkblue:#465773;
$white:#F6F6F6;
$gray: #898989;
$light-gray:#E0E0E0;
//字體變數
$chinese-font:"Noto Sans TC",Arial, Helvetica, sans-serif;

//header mixin
@mixin header($color:$darkblue,$b-color:$darkblue){
    background-color: $b-color;
    color:$color;
    display: flex;
}
//====最外層container
.container{
 width: 100%;
 height: 100%;   
// display: flex;
flex-direction: column;
align-items: center;
gap: 150px;
// background-color: $white;
@include header($b-color:$white)

}

header{
    width: 100%;
    position: absolute;
}
//=====header

//主header
.first_header{
// background-color: $darkblue;
// color: $white;
// display: flex;
padding: 0px 55px;
justify-content: space-between;
align-self: stretch;
align-items: center;
height: 95px;
@include header($color:$white,$b-color:$darkblue)
}

.header_title{
display: flex;
align-items: center;
font-family: $chinese-font;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.2px;


}

//彰師大logo
.ncuelogo_con> img{
    width: 337px;
    height:95px ;
}

//second-header
.second_header{
// display: flex;
padding: 5px 55px;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
font-family: $chinese-font;
border-right: 1px solid $light-gray;
border-bottom: 1px solid $light-gray;
border-left: 1px solid $light-gray;
// background-color: $white;
// color: $gray;
@include header($color:$gray,$b-color:$white)
}

//選單子項
.second_header> ul{
display: flex;
padding-left: 3px;
justify-content: center;
align-items: center;
gap: 10px;
border-left: 3px solid $gray;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;


}