//=====grid練習
// .container{
//     display: grid;
//     grid-template-columns: repeat(3,1fr) ;
//     gap: 10px;
 
    
// }

// .item{
//     padding: 10px;
//     background-color: beige;
//     text-align: center;
// }

// @media (max-width:600px) {
//     .container{
//          grid-template-columns:1fr;
//     }
   
// }

//顏色變數
$darkblue:#465773;
$white:#F6F6F6;
$gray: #898989;
$light-gray:#E0E0E0;
$blue: #1276BA;
$black:#222222;
$blackblue:#234074;
//字體變數
$chinese-font:"Noto Sans TC",Arial, Helvetica, sans-serif;

html{
  font-size: 15px;
}

//header mixin
@mixin header($color:$darkblue,$b-color:$darkblue){
    background-color: $b-color;
    color:$color;
    display: flex;
}
//====最外層container
.container{
 width: 100%;
 height: 100%;   
// display: flex;
flex-direction: column;
align-items: center;
gap: 150px;
// background-color: $white;
@include header($b-color:$white)

}

header{
    width: 100%;
    position: absolute;
}
//=====header

//主header
.first_header{

padding: 0px 55px;
justify-content: space-between;
align-self: stretch;
align-items: center;
height: 95px;
@include header($color:$white,$b-color:$darkblue)
}

.header_title{
display: flex;
align-items: center;
font-family: $chinese-font;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.2px;


}

//彰師大logo
.ncuelogo_con> img{
    width: 337px;
    height:95px ;
}

//second-header
.second_header{

padding: 5px 55px;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
font-family: $chinese-font;
border-right: 1px solid $light-gray;
border-bottom: 1px solid $light-gray;
border-left: 1px solid $light-gray;

@include header($color:$gray,$b-color:$white)
}

//選單子項
.second_header> ul{
display: flex;
padding-left: 3px;
justify-content: center;
align-items: center;
gap: 10px;
border-left: 3px solid $gray;
font-size: 1.1rem;
font-style: normal;
font-weight: 500;
line-height: normal;


}

//===section1
.section1{
display: flex;
padding: 250px 55px 0px 55px;
flex-direction: column;
align-items: center;
gap: 35px;
align-self: stretch;
}

.title> h1{
display: flex;
padding-left: 6px;
align-items: center;
gap: 10px;
border-left: 3px solid  $blue;
color: $blue;
font-size: 2rem;
}

.img-box {
  
  width: 240px;
  height: 300px;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.section1_content{
    display: flex;
width: 900px;
flex-direction: column;
align-items: flex-start;
gap: 45px;
}

.section1_content_part1{
display: flex;
padding: 0px 50px;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}


.info_content{
  border-left: 1px solid  $blackblue;
  padding-left: 3px;
}




.card1_content{
 display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  font-family: $chinese-font;
  font-weight: 500;
  font-size: 1rem;
}

.card {

  padding: 1em;
  color: $black;

}
.info-row {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.name_style{
  font-weight: 700;
  color: $blackblue;
  font-size: 1.5rem;
}

.title_style{
  font-weight: 500;
  color: $blackblue;
  font-size: 1.2rem;
} 

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
